.nav{  
    width: 72%;
    margin: auto;
    height: 60px;
    border-bottom: 2px solid #00000026;
    margin-top: 21px;
}

.pi img{
    width: 300px;
    height: 300px;
    
}
.pi{
    width: 72%;
    margin: auto;
}
#p{
    border: 1px solid rgb(233, 232, 230);
    box-shadow: 0 0 5px 2px #cac7c778;
}
#p:hover{
    border: rgb(148, 182, 155);
    transform: scale(1.1);
}
.row{
   
    margin: auto;
    box-shadow: inset 1px 3px 3px 2px #d2cece9e;   
}
.card{
    width: 85%;
    margin: auto;
}
.div{
    width: 85%;
    margin: auto;
}
